import { IDay } from "../day";

export class Day{{dayIndexFormatted}} implements IDay {
	getDayIndex(): number {
		return {{dayIndex}};
	}

	public solvePart01(data: string): string | number {
		// TODO
        return -1;
	}

	public solvePart02(data: string): string | number {
		// TODO
        return -1;
	}
}
